fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic

# Dependencias para la carga de archivos de inventario
pandas
openpyxl

# Dependencias para tareas asíncronas (ej. procesar un Excel grande)
# celery
# redis
