# Common
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-multipart

# Auth
python-jose[cryptography]
passlib[bcrypt]

# Petshop
pandas
openpyxl

# Testing
pytest
pytest-asyncio
httpx

# Code Quality
black
isort
flake8
mypy

# Async tasks (Celery)
celery
redis

# OCR (lightweight alternative to easyocr)
# easyocr
# pillow
pytesseract
pillow
