.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-background-light);
  border-bottom: 2px solid var(--color-background-dark);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-secondary-blue);
}

.app-header nav a {
  margin-left: 15px;
  font-weight: 500;
  color: var(--color-accent-violet);
}
